.carousel {
  width: 100%;
  max-width: 900px;
  height: 450px;
  position: relative;
  margin: 40px auto;
  overflow: hidden;
  border-radius: 12px;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.manual-nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.manual-btn {
  border: 2px solid #ffffff;
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.manual-btn:hover {
  background: white;
}

#slide1:checked ~ .first {
  margin-left: 0;
}

#slide2:checked ~ .first {
  margin-left: -20%;
}

#slide3:checked ~ .first {
  margin-left: -40%;
}
