.carousel-container {
  position: relative;
  justify-content: center;
  width: 80%;
  display: flex;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;  
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  width: 80%;        
  scroll-behavior: smooth;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
  display: none;
}


.elemento {
  flex: 0 0 calc(33.33% - 20px);
  margin: 2rem 0.6rem;
  background-color: cornflowerblue;
  width: 300px;
  height: 200px;
  border-radius: 2rem;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background: #000;
  color: #fff;
  border: 2px solid #000;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: 0.25s ease;
}

.btn:hover {
  background: #fff;
  color: #000;
  border-color: #000;
}

.left {
  left:   20px;
}

.right {
  right: 20px;
}