<div class="content">
  <div>
    <img src="assets/otro/imgNoticias1.png" alt="">
  </div>
  <div class="carousel-container">
    <button class="btn left" (click)="scrollLeft()">
      &#10094;
    </button>

    <div class="carousel" #carousel>
      <div class="elemento"></div>
      <div class="elemento"></div>
      <div class="elemento"></div>
      <div class="elemento"></div>
      <div class="elemento"></div>
    </div>

    <button class="btn right" (click)="scrollRight()">
      &#10095;
    </button>
  </div>
  <div>
    <img src="assets/otro/imgNoticias2.png" alt="">
  </div>
</div>