.contenedor {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  border-color: black;
}

.card {
  width: 300px;
  border-radius: 1rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
    margin: 10px 0;
    color: black;
}

.card p {
    padding: 0 1rem;
    font-size: 0.9rem;
    color: black;
}
