.page-container {
  background: #000;
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.header-container {
  position: relative;
  height: 180px;
}

.imgcorner {
  position: absolute;
  top: 0;
  left: 0;
  width: 280px;
}

.imgcornerdown {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
  height: auto;
  z-index: 1;
}

.titulo {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  z-index: 10;
  text-align: center;
}

.login-card {
  margin: 0 auto;
  width: 350px;
  background: #869CB8;
  padding: 25px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.logo-login {
  width: 150px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 5px;
  border-radius: 25px;
  border: 1px solid #ccc;
  background: #ffffff;
}

.btn-login {
  padding: 6px;
  margin-top: 10px;
  width: 180px;
  align-self: center;
  background: #000000;
  color: white;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.forgot-link {
  text-align: center;
  font-size: 12px;
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
}
