.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  background: #09356E;
}

.logo {
  height: 70px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.card {
  padding: 10px 25px;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  white-space: nowrap;
  transition: .2s;
  font-size: medium;
}

.card:hover {
  background: #000000;
  color: #ffffff;
}

.login-img {
  height: 40px;
  background: #000000;
  padding: 5px;
  border-radius: 10px;
}

.middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
 
}


.center-content {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.full-img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  display: block;
}
