.middle-section {
  width: 100%;
  display: flex;
  justify-content: center;
 
}

.center-content {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: center;
}

.full-img {
  width: 100%;
  height: auto;
  max-height: 90vh;
  object-fit: contain;
  display: block;
}
